/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  display: flex;
  width: var(--container-max-width-mobile, 23.4375rem);
  height: 50.75rem;
  min-height: 50.75rem;
  padding: 12.5rem 0rem;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

* {
  box-sizing: border-box;
}

.card{
  display: flex;
  width: 21.25rem;
  padding: var(--padding-624-px, 1.5rem);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-416-px, 1rem);

  border-radius: var(--border-radius-rounded-lg-8-px, 0.5rem);
  background: var(--colors-base-white, #FFF);
  /* shadow/shadow */
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px -1px rgba(0, 0, 0, 0.10);
}

.profile{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-416-px, 1rem);
  align-self: stretch;
}

img{
  width: 48px; 
  height: 48px; 
  border-radius: 48px; 
}

.sarah-dole-title{
  color: var(--Text-primary, var(--colors-neutral-900, #171717));
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;

}

.sarah-dole-para1{
  color: var(--Text-secondary, var(--colors-neutral-600, #525252));

  /* text-sm-14/normal */
  font-family: "Noto Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
}

.sarah-dole-para2{
  width: 18.25rem;
  color: var(--Text-secondary, var(--colors-neutral-600, #525252));

  /* text-base-16/normal */
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}